@import '../../styles/abstracts/mixins';

.buttonContainer {
  width: 100%;
  position: relative;
}

.checkoutButton {
  @include button();
  background-color: #fde24f;
  color: #00214d;
  width: 100%;
}
