.inputLabel {
  font-size: 18px;
  grid-column: 2 / span 1;
  width: 40;
  input {
    font-size: 18px;
    width: 100%;
    border: 0;
    padding: 8px;

    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
}
